<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c994d13a17d50d832f9d2b828f4f6959 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c994d13a17d50d832f9d2b828f4f6959" ></div>
        
</body>
<script>
    
    
            var map_c994d13a17d50d832f9d2b828f4f6959 = L.map(
                "map_c994d13a17d50d832f9d2b828f4f6959",
                {
                    center: [48.6937223, 6.1834097],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0f89989d6b0e08029537eb4041f85682 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0f89989d6b0e08029537eb4041f85682.addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
            var marker_4e8ebf3b8aca48281de224647c1c6854 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_8d3f5a6d3a340b0993d81318e17f4c8e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e8d7afd56cd556bce2f6a7f9a4c9bb0 = $(`<div id="html_7e8d7afd56cd556bce2f6a7f9a4c9bb0" style="width: 100.0%; height: 100.0%;">date: 1989-11-09, summary:, Israel.  rockets were fired into israel from lebanon.</div>`)[0];
                popup_8d3f5a6d3a340b0993d81318e17f4c8e.setContent(html_7e8d7afd56cd556bce2f6a7f9a4c9bb0);
            
        

        marker_4e8ebf3b8aca48281de224647c1c6854.bindPopup(popup_8d3f5a6d3a340b0993d81318e17f4c8e)
        ;

        
    
    
            var marker_3471b56a2e39b03f354e23983b920565 = L.marker(
                [32.4967519, 35.4973022],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_a403b925a33faf8daf88334cb00a6d24 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_59a531bb42837c0f474fedc51bc8d2f8 = $(`<div id="html_59a531bb42837c0f474fedc51bc8d2f8" style="width: 100.0%; height: 100.0%;">date: 1968-12-29, summary:, Israel.  al fatah claimed credit for shelling the town of beisan (bet shean) in northeast israel.</div>`)[0];
                popup_a403b925a33faf8daf88334cb00a6d24.setContent(html_59a531bb42837c0f474fedc51bc8d2f8);
            
        

        marker_3471b56a2e39b03f354e23983b920565.bindPopup(popup_a403b925a33faf8daf88334cb00a6d24)
        ;

        
    
    
            var marker_4001c8a193f35f9d5540dc4688719f72 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_b49108128596f23a57398f624fcca6a8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_187cf8f6800227e73faf2e725e85acec = $(`<div id="html_187cf8f6800227e73faf2e725e85acec" style="width: 100.0%; height: 100.0%;">date: 1995-08-12, summary:, Israel.  a heavily armed infiltrator was apprehended as he attempted to cross into israel from jordan.</div>`)[0];
                popup_b49108128596f23a57398f624fcca6a8.setContent(html_187cf8f6800227e73faf2e725e85acec);
            
        

        marker_4001c8a193f35f9d5540dc4688719f72.bindPopup(popup_b49108128596f23a57398f624fcca6a8)
        ;

        
    
    
            var marker_06385afd220678be045562a148403ea9 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_8a5715a8ae75461f0c97273628a2bfd9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_559a2b84e242c06f27e319e7a233ca31 = $(`<div id="html_559a2b84e242c06f27e319e7a233ca31" style="width: 100.0%; height: 100.0%;">date: 1979-04-15, summary:, Israel.  four terrorists penetrating into israel from jordan were killed by idf near kibbutz tirat zir.</div>`)[0];
                popup_8a5715a8ae75461f0c97273628a2bfd9.setContent(html_559a2b84e242c06f27e319e7a233ca31);
            
        

        marker_06385afd220678be045562a148403ea9.bindPopup(popup_8a5715a8ae75461f0c97273628a2bfd9)
        ;

        
    
    
            var marker_d854b386165a2741bb8bd816a3b77d85 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_92cf43aac9f16a61e968381bdb450043 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9827aefa8e4aa0f53003f3a1c24aafcf = $(`<div id="html_9827aefa8e4aa0f53003f3a1c24aafcf" style="width: 100.0%; height: 100.0%;">date: 1989-09-01, summary:, Israel.  pro-iranian guerrillas fired katyusha rockets into northern israel from inside southern lebanon, hitting some warehouses.</div>`)[0];
                popup_92cf43aac9f16a61e968381bdb450043.setContent(html_9827aefa8e4aa0f53003f3a1c24aafcf);
            
        

        marker_d854b386165a2741bb8bd816a3b77d85.bindPopup(popup_92cf43aac9f16a61e968381bdb450043)
        ;

        
    
    
            var marker_cab9096e2aff458de70ef74540618e8c = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_98ba73ffba86a0f606a8427c2384fa7a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1175d8281079084b528e992a2964accd = $(`<div id="html_1175d8281079084b528e992a2964accd" style="width: 100.0%; height: 100.0%;">date: 1990-03-29, summary:, Israel.  two katyusha rockets were fired into israel from jordanian territory.  the islamic-jihad-jerusalem claimed responsibility.</div>`)[0];
                popup_98ba73ffba86a0f606a8427c2384fa7a.setContent(html_1175d8281079084b528e992a2964accd);
            
        

        marker_cab9096e2aff458de70ef74540618e8c.bindPopup(popup_98ba73ffba86a0f606a8427c2384fa7a)
        ;

        
    
    
            var marker_d33eb9508e19273e7a183f8044ec1f23 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_6afb524c4f172126e6a282a625c00632 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_07d2ffec8ee8ec08584b5c3e02032e54 = $(`<div id="html_07d2ffec8ee8ec08584b5c3e02032e54" style="width: 100.0%; height: 100.0%;">date: 1996-04-09, summary:, Israel.  hezbollah guerrillas fired katyusha rockets into northern israel from their positions in lebanon injuring 30 israeli civilians.</div>`)[0];
                popup_6afb524c4f172126e6a282a625c00632.setContent(html_07d2ffec8ee8ec08584b5c3e02032e54);
            
        

        marker_d33eb9508e19273e7a183f8044ec1f23.bindPopup(popup_6afb524c4f172126e6a282a625c00632)
        ;

        
    
    
            var marker_a07c1e7cf3946299f02825cdd881a7a6 = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_c2d3c6e67893e84b639ee36ef7bfc849 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_552fd04a40ec71716852f56148461cdc = $(`<div id="html_552fd04a40ec71716852f56148461cdc" style="width: 100.0%; height: 100.0%;">date: 1978-08-25, summary:, Israel.  2 terrorists in a boat were captured by idf navy patrol while on their way to an attack in israel. (am - fatah)</div>`)[0];
                popup_c2d3c6e67893e84b639ee36ef7bfc849.setContent(html_552fd04a40ec71716852f56148461cdc);
            
        

        marker_a07c1e7cf3946299f02825cdd881a7a6.bindPopup(popup_c2d3c6e67893e84b639ee36ef7bfc849)
        ;

        
    
    
            var marker_7e0632165291d938c0942c3b2f59ea3e = L.marker(
                [48.6937223, 6.1834097],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_55101cb528f274aa706695f5f94756c7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_84de993d65f5d9ed0c1535bc45347641 = $(`<div id="html_84de993d65f5d9ed0c1535bc45347641" style="width: 100.0%; height: 100.0%;">date: 1988-04-27, summary:, Israel.  two members of the palestine liberation front (plf) infiltrated one mile into israel and attacked an israeli truck driver with automatic weapons and hand grenades.</div>`)[0];
                popup_55101cb528f274aa706695f5f94756c7.setContent(html_84de993d65f5d9ed0c1535bc45347641);
            
        

        marker_7e0632165291d938c0942c3b2f59ea3e.bindPopup(popup_55101cb528f274aa706695f5f94756c7)
        ;

        
    
    
            var marker_4e46e373a9cef73d9ec4fa588e79b10a = L.marker(
                [32.0852997, 34.7818064],
                {
}
            ).addTo(map_c994d13a17d50d832f9d2b828f4f6959);
        
    
        var popup_4c62e178d4a63eaeddf5585886d036d9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_244193530ad07bd0cc436b1d2660cc4b = $(`<div id="html_244193530ad07bd0cc436b1d2660cc4b" style="width: 100.0%; height: 100.0%;">date: 1979-03-10, summary:, Israel.  israeli troops killed four palestinian infiltrators in tel aviv apparently planning on taking hostages in israel during president carter's visit.  the guerrillas carried explosives and sabotage material, as well as leaflets indicating they intended to take hostages in a bid to force israel to free arab prisoners.</div>`)[0];
                popup_4c62e178d4a63eaeddf5585886d036d9.setContent(html_244193530ad07bd0cc436b1d2660cc4b);
            
        

        marker_4e46e373a9cef73d9ec4fa588e79b10a.bindPopup(popup_4c62e178d4a63eaeddf5585886d036d9)
        ;

        
    
</script>
</html>